header(data-page=page.name, class=page.name === 'services'
	|| page.name === 'news' || page.name === 'news-post'
	? 'header' : 'header bg-white')
	nav.navbar.clearfix
		.navbar-left
			.back-title.to-news
				a(href='news.html', data-type='page-transition') News
			.page-title.market-pulse
				span Market Pulse
			.page-title.team
				span Team
			.page-title.q-and-a
				span Q&A
			.page-title.contact
				span Contact
			.blog-categories
				ul.categories.list-inline
					li.active
						a(href='javascript:void(0)', data-category='category') Category
					li
						a(href='javascript:void(0)', data-category='search') Search
			.blog-filter
				ul.filter.list-inline
					li.active
						a(href='javascript:void(0)', data-filter='.ico-management') ICO Management
					li
						a(href='javascript:void(0)', data-filter='.cryptocurrency') Cryptocurrency
					li
						a(href='javascript:void(0)', data-filter='.analytics') Analytics
					li
						a(href='javascript:void(0)', data-filter='.business') Business
		.navbar-right
			ul.list-inline
				li
					a(href='news.html', data-type='page-transition') Blog
				li
					a(href='market-pulse.html', data-type='page-transition') Extended Market Pulse
				li
					a(href='q-and-a.html', data-type='page-transition') Q&A
				li
					a(href='contact-us.html', data-type='page-transition') Contact Us
		.search-field
			#searchField
				.field
					input#searchInput(type='text', name='search', placeholder='What would you like to find?')
				.microphone
					a(href='javascript:void(0)')
						img(src='./images/icons/microphone.svg', alt='close button')
				.close-search
					a(href='javascript:void(0)')
						img(src='./images/icons/close.svg', alt='close button')
				.notification#speach
				.notification#warning
	///.navbar