// Personal Meta tags
meta(charset='UTF-8')
meta(name='title', content='')
<!--[if IE]>
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
<![endif]-->
meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1')
// Restrict google from scanning info from Dmoz or YahooDir
meta(name='robots', content='noodp,noydir')
// Author markup
meta(name="theme-color", content="#ffffff")
// Personal Meta tags
<!--[if gte IE 6]>
script(src='assets/plugins/html5shiv.js')
script(src='assets/plugins/respond.min.js')
<![endif]-->

title IClub

// Styles
include ../components/_links