aside.sidebar
	.navbar-left
		button#menu-button.navbar-toggle(type='button')
			span.icon-bar
			span.icon-bar
		a.navbar-brand.clearfix(href='/')
			img(src='./images/logotype.svg')
			span.description Your Edge in Cryptocurrency Ecosystem
	ul#menu-anchor-back
		li.hidden(data-slide='2')
			a.link-to(href='#homepage') Homepage
		li.hidden(data-slide='3')
			a.link-to(href='#membership') Value Proposition
		li.hidden(data-slide='4')
			a.link-to(href='#sale-table') Pre-Sale Table
		li.hidden(data-slide='5')
			a.link-to(href='#market-pulse') Market Pulse
		li.hidden(data-slide='6')
			a.link-to(href='#news') News
		li.hidden(data-slide='7')
			a.link-to(href='#services') Services
	ul#menu-anchor
		li.active(data-slide='1')
			a.link-to(href='#membership') Value Proposition
		li.hidden(data-slide='2')
			a.link-to(href='#sale-table') Pre-Sale Tables
		li.hidden(data-slide='3')
			a.link-to(href='#market-pulse') Market Pulse
		li.hidden(data-slide='4')
			a.link-to(href='#news') News
		li.hidden(data-slide='5')
			a.link-to(href='#services') ICO Placement Services
		li.hidden(data-slide='6')
			a.link-to(href='#team') Team
	.copyright
		span.year 2017
		|
		|
		span.company ICLUB LTD. All rights reserved