.section
	.content-wrapper.w-50
		.question-block
			h3 How It Works?
			.toggle-content
				p The value of startups in the accelerator is enhanced by the development of technological and business competencies within the US entrepreneurial ecosystem. Starta Accelerator engages the best American professionals, who become a fully-functional part of the startup team for the duration of the programme. The programme is held in New York and lasts for 3.5 months.
			a.toggler-button(href='javascript:void(0)') See Details
		.question-block
			h3 Is this crowdfunding in the venture market?
			.toggle-content
				p The value of startups in the accelerator is enhanced by the development of technological and business competencies within the US entrepreneurial ecosystem. Starta Accelerator engages the best American professionals, who become a fully-functional part of the startup team for the duration of the programme. The programme is held in New York and lasts for 3.5 months.
			a.toggler-button(href='javascript:void(0)') See Details
		.question-block
			h3 Why do startups need an acceleration program?
			.toggle-content
				p The value of startups in the accelerator is enhanced by the development of technological and business competencies within the US entrepreneurial ecosystem. Starta Accelerator engages the best American professionals, who become a fully-functional part of the startup team for the duration of the programme. The programme is held in New York and lasts for 3.5 months.
			a.toggler-button(href='javascript:void(0)') See Details
		.question-block
			h3 How do investors evaluate them?
			.toggle-content
				p The value of startups in the accelerator is enhanced by the development of technological and business competencies within the US entrepreneurial ecosystem. Starta Accelerator engages the best American professionals, who become a fully-functional part of the startup team for the duration of the programme. The programme is held in New York and lasts for 3.5 months.
			a.toggler-button(href='javascript:void(0)') See Details
		.question-block
			h3 Are there any blockchain startups among them?
			.toggle-content
				p The value of startups in the accelerator is enhanced by the development of technological and business competencies within the US entrepreneurial ecosystem. Starta Accelerator engages the best American professionals, who become a fully-functional part of the startup team for the duration of the programme. The programme is held in New York and lasts for 3.5 months.
			a.toggler-button(href='javascript:void(0)') See Details
		.question-block
			h3 Will ICO participants receive such returns?
			.toggle-content
				p The value of startups in the accelerator is enhanced by the development of technological and business competencies within the US entrepreneurial ecosystem. Starta Accelerator engages the best American professionals, who become a fully-functional part of the startup team for the duration of the programme. The programme is held in New York and lasts for 3.5 months.
			a.toggler-button(href='javascript:void(0)') See Details