.section
	.text-center.pt-120
		h1.h1 Exclusive Membership
		.intro We provide clients with unique access to a hand-picked pool of investment opportunities, and help you protect and grow your capital with dedicated advisory service.
		.promo-icons
			ul
				li
					img(src='./images/access.svg', alt='image')
					span Limited Pre-Sale Access
				li
					img(src='./images/insights.svg', alt='image')
					span Advanced Insights
				li
					img(src='./images/management.svg', alt='image')
					span Cash-Out Management

		.join
			a(href='javascript:void(0)') Become Client