.section
	.text-center.pt-120.ml-150
		h1.h1 Upcoming ICOs and Pre-Sales
		.intro Don't miss out on the following upcoming pre-sale opportunities
		.pre-sale.mt-50.mb-150
			table
				tr
					td
						.image
							img(src='./images/logos/ico-convert.png', alt='image')
						.pre-date
							span Pre-Sale date
							|
							| Jul-25-17
						.public-date
							span Public ICO date
								|
								|
								b Aug-24-17
					td
						.image
							img(src='./images/logos/ico-crowd.png', alt='image')
						.pre-date
							span Pre-Sale date
							|
							| Jul-25-17
						.public-date
							span Public ICO date
								|
								|
								b Aug-24-17
					td
						.image
							img(src='./images/logos/boxer.png', alt='image')
						.pre-date
							span Pre-Sale date
							|
							| Jul-25-17
						.public-date
							span Public ICO date
								|
								|
								b Aug-24-17
					td
						.image
							img(src='./images/logos/diversify.png', alt='image')
						.pre-date
							span Pre-Sale date
							|
							| Jul-25-17
						.public-date
							span Public ICO date
								|
								|
								b Aug-24-17
				tr
					td
						.image
							img(src='./images/logos/ico-group.png', alt='image')
						.pre-date
							span Pre-Sale date
							|
							| Jul-25-17
						.public-date
							span Public ICO date
								|
								|
								b Aug-24-17
					td
						.image
							img(src='./images/logos/iconomi.png', alt='image')
						.pre-date
							span Pre-Sale date
							|
							| Jul-25-17
						.public-date
							span Public ICO date
								|
								|
								b Aug-24-17
					td
						.image
							img(src='./images/logos/onegram.png', alt='image')
						.pre-date
							span Pre-Sale date
							|
							| Jul-25-17
						.public-date
							span Public ICO date
								|
								|
								b Aug-24-17
					td
						.image
							img(src='./images/logos/deloitte.png', alt='image')
						.pre-date
							span Pre-Sale date
							|
							| Jul-25-17
						.public-date
							span Public ICO date
								|
								|
								b Aug-24-17
				tr
					td
						.image
							img(src='./images/logos/ico-group.png', alt='image')
						.pre-date
							span Pre-Sale date
							|
							| Jul-25-17
						.public-date
							span Public ICO date
								|
								|
								b Aug-24-17
					td
						.image
							img(src='./images/logos/iconomi.png', alt='image')
						.pre-date
							span Pre-Sale date
							|
							| Jul-25-17
						.public-date
							span Public ICO date
								|
								|
								b Aug-24-17
					td
						.image
							img(src='./images/logos/onegram.png', alt='image')
						.pre-date
							span Pre-Sale date
							|
							| Jul-25-17
						.public-date
							span Public ICO date
								|
								|
								b Aug-24-17
					td
						.image
							img(src='./images/logos/deloitte.png', alt='image')
						.pre-date
							span Pre-Sale date
							|
							| Jul-25-17
						.public-date
							span Public ICO date
								|
								|
								b Aug-24-17