// IE console.log fix
script(src='assets/plugins/consoleFix.js', type='text/javascript')
// jQuery
script(src='assets/plugins/jquery/dist/jquery.min.js', type='text/javascript')
// IE fix placeholders in inputs and textarea
script(src='assets/plugins/placeholder.js', type='text/javascript')
// Bootstrap
script(src='assets/plugins/bootstrap/dist/js/bootstrap.min.js', type='text/javascript')
// Modernizr
script(src='assets/plugins/modernizr.js', type='text/javascript')
// Custom Scroll Bar
script(src='assets/plugins/jquery.mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js', type='text/javascript')
// Owl Carousel
script(src='assets/plugins/owl.carousel/dist/owl.carousel.min.js', type='text/javascript')
// Full Page
script(src='assets/plugins/scrolloverflow.min.js', type='text/javascript')
script(src='assets/plugins/fullPage.js/dist/jquery.fullpage.extensions.min.js', type='text/javascript')
// Chart Js
script(src='assets/plugins/chart.min.js', type='text/javascript')
// Table Filter
script(src='assets/plugins/TableFilter/dist/tablefilter/tablefilter.js', type='text/javascript')
// Validation
script(src='assets/plugins/bootstrap-validator/dist/validator.min.js', type='text/javascript')
// Isotope
script(src='assets/plugins/isotope.pkgd.min.js', type='text/javascript')
// Main JS file
script(src='js/app.js', type='text/javascript')