figure.blog-info.ico-management
	img(src='../images/blog/blog-image1.png', alt='post image')
	figcaption
		.date
			.date-wrapper
				span Feb
				|
				|
				span 12
		h5.title BlackBerry Stock Hits Key Support After Sell Rating
		.category
			span Ico Marketing
		.text
			span BlackBerry shares moved lower on Goldman's negative view, but traders should watch these
		.button-wrapper.clearfix
			a.button(href='javascript:void(0)') Read
figure.blog-info.ico-management.cryptocurrency
	img(src='../images/blog/blog-image2.png', alt='post image')
	figcaption
		.date
			.date-wrapper
				span Feb
				|
				|
				span 14
		h5.title Netflix Makes First Acquisition With Comics Buy
		.category
			span Ico Marketing
		.text
			span The video streaming service acquired a comic book publisher in a move to bolster its content portfolio.
		.button-wrapper.clearfix
			a.button(href='javascript:void(0)') Read
figure.blog-info.ico-management
	img(src='../images/blog/blog-image3.png', alt='post image')
	figcaption
		.date
			.date-wrapper
				span Feb
				|
				|
				span 16
		h5.title Bitcoin Is Now Bigger Than These 4 Companies
		.category
			span Ico Marketing
		.text
			span From a slice of pizza to $50 billion. How Bitcoin has outpaced these four companies
		.button-wrapper.clearfix
			a.button(href='javascript:void(0)') Read
figure.blog-info.ico-management
	img(src='../images/blog/blog-image4.png', alt='post image')
	figcaption
		.date
			.date-wrapper
				span Feb
				|
				|
				span 18
		h5.title Banks Are Hidden Gems For Investors, Goldman Says
		.category
			span Ico Marketing
		.text
			span Bank stocks will be fueled by huge stock buybacks and dividend hikes, Goldman says
		.button-wrapper.clearfix
			a.button(href='javascript:void(0)') Read
figure.blog-info.ico-management
	img(src='../images/blog/blog-image5.png', alt='post image')
	figcaption
		.date
			.date-wrapper
				span Apr
				|
				|
				span 01
		h5.title Alibaba Partners with Marriott, Pushes Into Hotels
		.category
			span Ico Marketing
		.text
			span The two struck a deal in which Chinese consumers can book a stay via Alibaba and Alipay.
		.button-wrapper.clearfix
			a.button(href='javascript:void(0)') Read
figure.blog-info.ico-management.cryptocurrency
	img(src='../images/blog/blog-image6.png', alt='post image')
	figcaption
		.date
			.date-wrapper
				span Dec
				|
				|
				span 25
		h5.title Why Big Tech Stocks Have 9% Upside
		.category
			span Ico Marketing
		.text
			span The technology sector is outperforming the broader market but can still soar over the next few months.
		.button-wrapper.clearfix
			a.button(href='javascript:void(0)') Read
figure.blog-info.ico-management
	img(src='../images/blog/blog-image7.png', alt='post image')
	figcaption
		.date
			.date-wrapper
				span Dec
				|
				|
				span 20
		h5.title CapEX Kings: Which S&P 500 Cos. Spend the Most
		.category
			span Ico Marketing
		.text
			span Goldman Sachs is out with a report showing the importance of capex spending.
		.button-wrapper.clearfix
			a.button(href='javascript:void(0)') Read
figure.blog-info.ico-management
	img(src='../images/blog/blog-image8.png', alt='post image')
	figcaption
		.date
			.date-wrapper
				span Dec
				|
				|
				span 11
		h5.title Another ETF to Consider as the Dow Soars
		.category
			span Ico Marketing
		.text
			span There is another Dow ETF that income investors may want to consider.
		.button-wrapper.clearfix
			a.button(href='javascript:void(0)') Read
figure.blog-info.ico-management
	img(src='../images/blog/blog-image9.png', alt='post image')
	figcaption
		.date
			.date-wrapper
				span Oct
				|
				|
				span 05
		h5.title Disney Bulls Hold an Edge Into Earnings
		.category
			span Ico Marketing
		.text
			span Disney is well positioned for a buy-the-news reaction to this week's earnings report, despite a tough second quarter.
		.button-wrapper.clearfix
			a.button(href='javascript:void(0)') Read
figure.blog-info.ico-management.cryptocurrency
	img(src='../images/blog/blog-image10.png', alt='post image')
	figcaption
		.date
			.date-wrapper
				span Oct
				|
				|
				span 10
		h5.title Nvidia's Stock Poised to Reach $200
		.category
			span Ico Marketing
		.text
			span Nvidia stock could soar to $200 if its forthcoming 2Q financial results blow away street estimates.
		.button-wrapper.clearfix
			a.button(href='javascript:void(0)') Read
figure.blog-info.ico-management
	img(src='../images/blog/blog-image11.png', alt='post image')
	figcaption
		.date
			.date-wrapper
				span Nov
				|
				|
				span 20
		h5.title Fees Matter With Gold ETFs, Too
		.category
			span Ico Marketing
		.text
			span Fees matter with ETFs, and that also pertains to gold ETFs.
		.button-wrapper.clearfix
			a.button(href='javascript:void(0)') Read
figure.blog-info.ico-management
	img(src='../images/blog/blog-image12.png', alt='post image')
	figcaption
		.date
			.date-wrapper
				span Nov
				|
				|
				span 25
		h5.title What are the Safest Ways to Store Bitcoin?
		.category
			span Ico Marketing
		.text
			span As Bitcoin and other cryptocurrencies expand, hackers see new potential for thefts. How do you keep your digital
		.button-wrapper.clearfix
			a.button(href='javascript:void(0)') Read