extends layouts/_default

block vars
	- page = { name: 'contact', title: '' }

block header
	include partials/_header

block sidebar
	include partials/_sidebar

block main
	include pages/contact-us/_main

block footer
	include partials/_footer