extends layouts/_default

block vars
	- page = { name: 'sale-table', title: '' }

block header
	include partials/_header

block sidebar
	include partials/_sidebar

block main
	include pages/sale-table/_main

block footer
	include partials/_footer