extends layouts/_default

block vars
	- page = { name: 'services', title: '' }

block header
	include partials/_header

block sidebar
	include partials/_sidebar

block main
	include pages/services/_main

block footer
	include partials/_footer