.section
	.text-center.pt-120
		h1.h1 ICO Placement Service
		.subintro Pre-sale improves ICO success rate by 50%
		.intro Secure investment by reaching out to hundreds of investors in a pre-sale arrangement
		.join.text-center.text-uppercase.mt-30
			a(href='javascript:void(0)') Get In Touch