.section
	.text-center.pt-120
		h1.h1 ICO Investment
			|
			|
			strong Advisory
		.intro Free access to premium research & analytics, early IOU trading and advanced risk-management
		.promo
			ul
				li
					span 500 Customers
				li
					span $2M Under Managment
				li
					span 300% ROI p.a.
				li
					span 12 Successful Deals
		.join.icon
			a(href='javascript:void(0)') Join Public Group
		.info-slider.owl-carousel.owl-theme
				.item
					.image
						img(src='./images/info-slide1.png', alt='image')
					.text
						span Only 3 days left to join DS Pre-Sale ICO. 30% 30-day ROI.
							|
							|
							a(href='javascript:void(0)') Join
							|
							| today
				.item
					.image
						img(src='./images/info-slide2.png', alt='image')
					.text
						span IOU exchange now active with 4 seats remaining.
							|
							|
							a(href='javascript:void(0)') Sign Up
							|
							| now!
				.item
					.image
						img(src='./images/info-slide3.png', alt='image')
					.text
						span IClub exclusive membership bidding rounds open Sep 1, 17.
							|
							|
							a.border-b(href='javascript:void(0)') Complete Application
							|
							| form before deadline.
				.item
					.image
						img(src='./images/info-slide1.png', alt='image')
					.text
						span Only 3 days left to join DS Pre-Sale ICO. 30% 30-day ROI.
							|
							|
							a(href='javascript:void(0)') Join
							|
							| today
				.item
					.image
						img(src='./images/info-slide2.png', alt='image')
					.text
						span IOU exchange now active with 4 seats remaining.
							|
							|
							a(href='javascript:void(0)') Sign Up
							|
							| now!
				.item
					.image
						img(src='./images/info-slide3.png', alt='image')
					.text
						span IClub exclusive membership bidding rounds open Sep 1, 17.
							|
							|
							a.border-b(href='javascript:void(0)') Complete Application
							|
							| form before deadline.