#fullpage
	.section
		.text-center.pt-120
			h1.h1 ICO Investment
				|
				|
				strong Advisory
			.intro Free access to premium research & analytics, early IOU trading and advanced risk-management
			.promo
				ul
					li
						span 500 Customers
					li
						span $2M Under Managment
					li
						span 300% ROI p.a.
					li
						span 12 Successful Deals
			.join.icon
				a(href='javascript:void(0)') Join Public Group
			.info-slider.owl-carousel.owl-theme
					.item
						.image
							img(src='../images/info-slide1.png', alt='image')
						.text
							span Only 3 days left to join DS Pre-Sale ICO. 30% 30-day ROI.
								|
								|
								a(href='javascript:void(0)') Join
								|
								| today
					.item
						.image
							img(src='../images/info-slide2.png', alt='image')
						.text
							span IOU exchange now active with 4 seats remaining.
								|
								|
								a(href='javascript:void(0)') Sign Up
								|
								| now!
					.item
						.image
							img(src='../images/info-slide3.png', alt='image')
						.text
							span IClub exclusive membership bidding rounds open Sep 1, 17.
								|
								|
								a.border-b(href='javascript:void(0)') Complete Application
								|
								| form before deadline.
					.item
						.image
							img(src='../images/info-slide1.png', alt='image')
						.text
							span Only 3 days left to join DS Pre-Sale ICO. 30% 30-day ROI.
								|
								|
								a(href='javascript:void(0)') Join
								|
								| today
					.item
						.image
							img(src='../images/info-slide2.png', alt='image')
						.text
							span IOU exchange now active with 4 seats remaining.
								|
								|
								a(href='javascript:void(0)') Sign Up
								|
								| now!
					.item
						.image
							img(src='../images/info-slide3.png', alt='image')
						.text
							span IClub exclusive membership bidding rounds open Sep 1, 17.
								|
								|
								a.border-b(href='javascript:void(0)') Complete Application
								|
								| form before deadline.
	.section
		.text-center.pt-120
			h1.h1 Exclusive Membership
			.intro We provide clients with unique access to a hand-picked pool of investment opportunities, and help you protect and grow your capital with dedicated advisory service.
			.promo-icons
				ul
					li
						img(src='../images/access.svg', alt='image')
						span Limited Pre-Sale Access
					li
						img(src='../images/insights.svg', alt='image')
						span Advanced Insights
					li
						img(src='../images/management.svg', alt='image')
						span Cash-Out Management

			.join
				a(href='javascript:void(0)') Become Client
	.section
		.text-center.pt-120
				h1.h1 Upcoming ICOs and Pre-Sales
				.intro Don't miss out on the following upcoming pre-sale opportunities
				.pre-sale.mt-50.mb-150
					table
						tr
							td
								.image
									img(src='../images/logos/ico-convert.png', alt='image')
								.pre-date
									span Pre-Sale date
									|
									| Jul-25-17
								.public-date
									span Public ICO date
										|
										|
										b Aug-24-17
							td
								.image
									img(src='../images/logos/ico-crowd.png', alt='image')
								.pre-date
									span Pre-Sale date
									|
									| Jul-25-17
								.public-date
									span Public ICO date
										|
										|
										b Aug-24-17
							td
								.image
									img(src='../images/logos/boxer.png', alt='image')
								.pre-date
									span Pre-Sale date
									|
									| Jul-25-17
								.public-date
									span Public ICO date
										|
										|
										b Aug-24-17
							td
								.image
									img(src='../images/logos/diversify.png', alt='image')
								.pre-date
									span Pre-Sale date
									|
									| Jul-25-17
								.public-date
									span Public ICO date
										|
										|
										b Aug-24-17
						tr
							td
								.image
									img(src='../images/logos/ico-group.png', alt='image')
								.pre-date
									span Pre-Sale date
									|
									| Jul-25-17
								.public-date
									span Public ICO date
										|
										|
										b Aug-24-17
							td
								.image
									img(src='../images/logos/iconomi.png', alt='image')
								.pre-date
									span Pre-Sale date
									|
									| Jul-25-17
								.public-date
									span Public ICO date
										|
										|
										b Aug-24-17
							td
								.image
									img(src='../images/logos/onegram.png', alt='image')
								.pre-date
									span Pre-Sale date
									|
									| Jul-25-17
								.public-date
									span Public ICO date
										|
										|
										b Aug-24-17
							td
								.image
									img(src='../images/logos/deloitte.png', alt='image')
								.pre-date
									span Pre-Sale date
									|
									| Jul-25-17
								.public-date
									span Public ICO date
										|
										|
										b Aug-24-17
						tr
							td
								.image
									img(src='../images/logos/ico-group.png', alt='image')
								.pre-date
									span Pre-Sale date
									|
									| Jul-25-17
								.public-date
									span Public ICO date
										|
										|
										b Aug-24-17
							td
								.image
									img(src='../images/logos/iconomi.png', alt='image')
								.pre-date
									span Pre-Sale date
									|
									| Jul-25-17
								.public-date
									span Public ICO date
										|
										|
										b Aug-24-17
							td
								.image
									img(src='../images/logos/onegram.png', alt='image')
								.pre-date
									span Pre-Sale date
									|
									| Jul-25-17
								.public-date
									span Public ICO date
										|
										|
										b Aug-24-17
							td
								.image
									img(src='../images/logos/deloitte.png', alt='image')
								.pre-date
									span Pre-Sale date
									|
									| Jul-25-17
								.public-date
									span Public ICO date
										|
										|
										b Aug-24-17
	.section
		.top-rating.clearfix.mt-150
			.rating
				.currency
					.image
						img(src='../images/icons/bitcoin.svg', alt='currency')
					span.name BTC
				.values
					.price-dollar
						span $3204.36
					.price-dollar-new.positive
						span $780
					.price-currency
						span.name BTC
						|
						|
						span.price 386,45125623
				.chart-container
					canvas#chart-bitcoin
			.rating
				.currency
					.image
						img.top-3(src='../images/icons/ethereum.svg', alt='currency')
					span.name ETH
				.values
					.price-dollar
						span $262.37
					.price-dollar-new.positive
						span $780
					.price-currency
						span.name ETH
						|
						|
						span.price 120,45125623
				.chart-container
					canvas#chart-ethereum
			.rating
				.currency
					.image
						img(src='../images/icons/litecoin.svg', alt='currency')
					span.name LTC
				.values
					.price-dollar
						span $45.40
					.price-dollar-new.negative
						span $25
					.price-currency
						span.name LTC
						|
						|
						span.price 855,45125623
				.chart-container
					canvas#chart-litecoin
			.rating
				.currency
					.image
						img(src='../images/icons/xem.svg', alt='currency')
					span.name XEM
				.values
					.price-dollar
						span $188.92
					.price-dollar-new.positive
						span $7
					.price-currency
						span.name XEM
						|
						|
						span.price 85,45125623
				.chart-container
					canvas#chart-xem
			.rating
				.currency
					.image
						img(src='../images/icons/xmr.svg', alt='currency')
					span.name XMR
				.values
					.price-dollar
						span $188.92
					.price-dollar-new.positive
						span $7
					.price-currency
						span.name XMR
						|
						|
						span.price 10,45125623
				.chart-container
					canvas#chart-xmr
		.strategy.tab-panels
			strong Investment Strategy
			ul.list-inline
				li.active
					a(href='javascript:void(0)', data-type='conservative') Conservative
				li
					a(href='javascript:void(0)', data-type='moderate') Moderate
				li
					a(href='javascript:void(0)', data-type='aggressive') Aggressive
			.tabs.pb-50
				.tab.active.currency-table#conservative
					table#conservative-table
						thead
							tr
								th Company
								th Token Type
								th ICO Price
								th Cash-Out Pre-Sale
								th Cash-Out Public
								th All-Time ROI
						tbody
							tr
								td.company
									.image
										img(src='../images/logos/company1.svg', alt='company')
									.name
										span Digital Developers Fund
									.socials
										a(href='javascript:void(0)')
											i.fa.fa-slack(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-github-alt(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-facebook(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-twitter(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-paper-plane(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-btc(aria-hidden='true')
									.website
										a(href='javascript:void(0)') Website
								td.token-type
									.image
										img(src='../images/tokens/wings.svg', alt='token type')
									.name
										span Wings
								td.ico-price
									.dollar-price
										span $2658.55
									.divider
									.currency-price
										span BTC 1.45686545
								td.cash-out-sale
									span 03.08.17 / 30%
								td.cash-out-public
									span 05.08.17 / 20%
								td.all-time-roi
									span.positive 3%
							tr
								td.company
									.image
										img(src='../images/logos/company2.svg', alt='company')
									.name
										span SkyWay
									.socials
										a(href='javascript:void(0)')
											i.fa.fa-slack(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-github-alt(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-facebook(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-twitter(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-paper-plane(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-btc(aria-hidden='true')
									.website
										a(href='javascript:void(0)') Website
								td.token-type
									.image
										img(src='../images/tokens/qtum.svg', alt='token type')
									.name
										span QTUM
								td.ico-price
									.dollar-price
										span $3684.55
									.divider
									.currency-price
										span BTC 55.4545645
								td.cash-out-sale
									span 03.08.17 / 30%
								td.cash-out-public
									span 05.08.17 / 20%
								td.all-time-roi
									span.positive 3%
							tr
								td.company
									.image
										img(src='../images/logos/company3.svg', alt='company')
									.name
										span MyBit
									.socials
										a(href='javascript:void(0)')
											i.fa.fa-slack(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-github-alt(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-facebook(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-twitter(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-paper-plane(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-btc(aria-hidden='true')
									.website
										a(href='javascript:void(0)') Website
								td.token-type
									.image
										img(src='../images/tokens/darcus.svg', alt='token type')
									.name
										span Darcus
								td.ico-price
									.dollar-price
										span $560.60
									.divider
									.currency-price
										span BTC 0.00686545
								td.cash-out-sale
									span 03.08.17 / 30%
								td.cash-out-public
									span 05.08.17 / 20%
								td.all-time-roi
									span.negative 5%
							tr
								td.company
									.image
										img(src='../images/logos/company4.svg', alt='company')
									.name
										span Hive Project
									.socials
										a(href='javascript:void(0)')
											i.fa.fa-slack(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-github-alt(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-facebook(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-twitter(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-paper-plane(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-btc(aria-hidden='true')
									.website
										a(href='javascript:void(0)') Website
								td.token-type
									.image
										img(src='../images/tokens/waves.svg', alt='token type')
									.name
										span Waves
								td.ico-price
									.dollar-price
										span $10 000
									.divider
									.currency-price
										span BTC 368.55129876
								td.cash-out-sale
									span 03.08.17 / 30%
								td.cash-out-public
									span 05.08.17 / 20%
								td.all-time-roi
									span.positive 3%
							tr
								td.company
									.image
										img(src='../images/logos/company5.svg', alt='company')
									.name
										span Bowhead Health
									.socials
										a(href='javascript:void(0)')
											i.fa.fa-slack(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-github-alt(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-facebook(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-twitter(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-paper-plane(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-btc(aria-hidden='true')
									.website
										a(href='javascript:void(0)') Website
								td.token-type
									.image
										img(src='../images/tokens/adtoken.svg', alt='token type')
									.name
										span adToken
								td.ico-price
									.dollar-price
										span $2658.55
									.divider
									.currency-price
										span BTC 1.45686545
								td.cash-out-sale
									span 03.08.17 / 30%
								td.cash-out-public
									span 05.08.17 / 20%
								td.all-time-roi
									span.negative 2%
					a.extended-table(href='javascript:void(0)') Extended Market Pulse
				.tab.currency-table#moderate
					table#moderate-table
						thead
							tr
								th Company
								th Token Type
								th ICO Price
								th Cash-Out Pre-Sale
								th Cash-Out Public
								th All-Time ROI
						tbody
							tr
								td.company
									.image
										img(src='../images/logos/company2.svg', alt='company')
									.name
										span SkyWay
									.socials
										a(href='javascript:void(0)')
											i.fa.fa-slack(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-github-alt(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-facebook(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-twitter(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-paper-plane(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-btc(aria-hidden='true')
									.website
										a(href='javascript:void(0)') Website
								td.token-type
									.image
										img(src='../images/tokens/qtum.svg', alt='token type')
									.name
										span QTUM
								td.ico-price
									.dollar-price
										span $3684.55
									.divider
									.currency-price
										span BTC 55.4545645
								td.cash-out-sale
									span 03.08.17 / 30%
								td.cash-out-public
									span 05.08.17 / 20%
								td.all-time-roi
									span.positive 3%
							tr
								td.company
									.image
										img(src='../images/logos/company1.svg', alt='company')
									.name
										span Digital Developers Fund
									.socials
										a(href='javascript:void(0)')
											i.fa.fa-slack(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-github-alt(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-facebook(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-twitter(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-paper-plane(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-btc(aria-hidden='true')
									.website
										a(href='javascript:void(0)') Website
								td.token-type
									.image
										img(src='../images/tokens/wings.svg', alt='token type')
									.name
										span Wings
								td.ico-price
									.dollar-price
										span $2658.55
									.divider
									.currency-price
										span BTC 1.45686545
								td.cash-out-sale
									span 03.08.17 / 30%
								td.cash-out-public
									span 05.08.17 / 20%
								td.all-time-roi
									span.positive 3%
							tr
								td.company
									.image
										img(src='../images/logos/company3.svg', alt='company')
									.name
										span MyBit
									.socials
										a(href='javascript:void(0)')
											i.fa.fa-slack(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-github-alt(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-facebook(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-twitter(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-paper-plane(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-btc(aria-hidden='true')
									.website
										a(href='javascript:void(0)') Website
								td.token-type
									.image
										img(src='../images/tokens/darcus.svg', alt='token type')
									.name
										span Darcus
								td.ico-price
									.dollar-price
										span $560.60
									.divider
									.currency-price
										span BTC 0.00686545
								td.cash-out-sale
									span 03.08.17 / 30%
								td.cash-out-public
									span 05.08.17 / 20%
								td.all-time-roi
									span.negative 5%
							tr
								td.company
									.image
										img(src='../images/logos/company5.svg', alt='company')
									.name
										span Bowhead Health
									.socials
										a(href='javascript:void(0)')
											i.fa.fa-slack(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-github-alt(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-facebook(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-twitter(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-paper-plane(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-btc(aria-hidden='true')
									.website
										a(href='javascript:void(0)') Website
								td.token-type
									.image
										img(src='../images/tokens/adtoken.svg', alt='token type')
									.name
										span adToken
								td.ico-price
									.dollar-price
										span $2658.55
									.divider
									.currency-price
										span BTC 1.45686545
								td.cash-out-sale
									span 03.08.17 / 30%
								td.cash-out-public
									span 05.08.17 / 20%
								td.all-time-roi
									span.negative 2%
							tr
								td.company
									.image
										img(src='../images/logos/company4.svg', alt='company')
									.name
										span Hive Project
									.socials
										a(href='javascript:void(0)')
											i.fa.fa-slack(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-github-alt(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-facebook(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-twitter(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-paper-plane(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-btc(aria-hidden='true')
									.website
										a(href='javascript:void(0)') Website
								td.token-type
									.image
										img(src='../images/tokens/waves.svg', alt='token type')
									.name
										span Waves
								td.ico-price
									.dollar-price
										span $10 000
									.divider
									.currency-price
										span BTC 368.55129876
								td.cash-out-sale
									span 03.08.17 / 30%
								td.cash-out-public
									span 05.08.17 / 20%
								td.all-time-roi
									span.positive 3%
					a.extended-table(href='javascript:void(0)') Extended Market Pulse
				.tab.currency-table#aggressive
					table#aggressive-table
						thead
							tr
								th Company
								th Token Type
								th ICO Price
								th Cash-Out Pre-Sale
								th Cash-Out Public
								th All-Time ROI
						tbody
							tr
								td.company
									.image
										img(src='../images/logos/company4.svg', alt='company')
									.name
										span Hive Project
									.socials
										a(href='javascript:void(0)')
											i.fa.fa-slack(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-github-alt(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-facebook(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-twitter(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-paper-plane(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-btc(aria-hidden='true')
									.website
										a(href='javascript:void(0)') Website
								td.token-type
									.image
										img(src='../images/tokens/waves.svg', alt='token type')
									.name
										span Waves
								td.ico-price
									.dollar-price
										span $10 000
									.divider
									.currency-price
										span BTC 368.55129876
								td.cash-out-sale
									span 03.08.17 / 30%
								td.cash-out-public
									span 05.08.17 / 20%
								td.all-time-roi
									span.positive 3%
							tr
								td.company
									.image
										img(src='../images/logos/company1.svg', alt='company')
									.name
										span Digital Developers Fund
									.socials
										a(href='javascript:void(0)')
											i.fa.fa-slack(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-github-alt(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-facebook(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-twitter(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-paper-plane(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-btc(aria-hidden='true')
									.website
										a(href='javascript:void(0)') Website
								td.token-type
									.image
										img(src='../images/tokens/wings.svg', alt='token type')
									.name
										span Wings
								td.ico-price
									.dollar-price
										span $2658.55
									.divider
									.currency-price
										span BTC 1.45686545
								td.cash-out-sale
									span 03.08.17 / 30%
								td.cash-out-public
									span 05.08.17 / 20%
								td.all-time-roi
									span.positive 3%
							tr
								td.company
									.image
										img(src='../images/logos/company3.svg', alt='company')
									.name
										span MyBit
									.socials
										a(href='javascript:void(0)')
											i.fa.fa-slack(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-github-alt(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-facebook(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-twitter(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-paper-plane(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-btc(aria-hidden='true')
									.website
										a(href='javascript:void(0)') Website
								td.token-type
									.image
										img(src='../images/tokens/darcus.svg', alt='token type')
									.name
										span Darcus
								td.ico-price
									.dollar-price
										span $560.60
									.divider
									.currency-price
										span BTC 0.00686545
								td.cash-out-sale
									span 03.08.17 / 30%
								td.cash-out-public
									span 05.08.17 / 20%
								td.all-time-roi
									span.negative 5%
							tr
								td.company
									.image
										img(src='../images/logos/company2.svg', alt='company')
									.name
										span SkyWay
									.socials
										a(href='javascript:void(0)')
											i.fa.fa-slack(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-github-alt(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-facebook(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-twitter(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-paper-plane(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-btc(aria-hidden='true')
									.website
										a(href='javascript:void(0)') Website
								td.token-type
									.image
										img(src='../images/tokens/qtum.svg', alt='token type')
									.name
										span QTUM
								td.ico-price
									.dollar-price
										span $3684.55
									.divider
									.currency-price
										span BTC 55.4545645
								td.cash-out-sale
									span 03.08.17 / 30%
								td.cash-out-public
									span 05.08.17 / 20%
								td.all-time-roi
									span.positive 3%
							tr
								td.company
									.image
										img(src='../images/logos/company5.svg', alt='company')
									.name
										span Bowhead Health
									.socials
										a(href='javascript:void(0)')
											i.fa.fa-slack(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-github-alt(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-facebook(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-twitter(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-paper-plane(aria-hidden='true')
										a(href='javascript:void(0)')
											i.fa.fa-btc(aria-hidden='true')
									.website
										a(href='javascript:void(0)') Website
								td.token-type
									.image
										img(src='../images/tokens/adtoken.svg', alt='token type')
									.name
										span adToken
								td.ico-price
									.dollar-price
										span $2658.55
									.divider
									.currency-price
										span BTC 1.45686545
								td.cash-out-sale
									span 03.08.17 / 30%
								td.cash-out-public
									span 05.08.17 / 20%
								td.all-time-roi
									span.negative 2%
					a.extended-table(href='javascript:void(0)') Extended Market Pulse
	.section
		.slide(data-anchor='blog-list')
			.content-wrapper
				.news.mt-180
					#blog-gallery
						include ../../blog-items
					.loading-text
						i.fa.fa-spinner.fa-spin(aria-hidden='true')
						a(href='./blog-items.html') Loading...
		.slide(data-anchor='blog-post')
			.content-wrapper
				.blog-post.mt-180
					.post-sidebar
						.date
							.date-wrapper
								span Feb
								|
								|
								span 12
						.socials
							ul
								li
									a(href='javascript:void(0)')
										i.fa.fa-facebook(aria-hidden='true')
								li
									a(href='javascript:void(0)')
										i.fa.fa-google(aria-hidden='true')
								li
									a(href='javascript:void(0)')
										i.fa.fa-twitter(aria-hidden='true')
					.post
						.image
							img(src='../images/blog/blog-post-image1.png')
						ul.breadcrumb
							li.breadcrumb-item
								a(href='javascript:void(0)') News
							li.breadcrumb-item
								a(href='javascript:void(0)') ICO Marketing
							li.breadcrumb-item
								a(href='javascript:void(0)') BlackBerry Stock Hits Key Support After Sell Rating
						.title
							h2 BlackBerry Stock Hits Key Support After Sell Rating
						.category
							span Ico Marketing
						.text
							p BlackBerry Ltd BBRY 9.15 +0.60% Microsoft Corp MSFT 73.05 +0.90% VMware Inc VMW 93.42 0.00% Citrix Systems Inc CTXS 77.35 -1.43% Qualcomm Inc QCOM 53.31 +1.17% Shares of BlackBerry Limited (BBRY BlackBerry Ltd BBRY 9.15 +0.60% ​) fell 3.6% on Monday after Goldman Sachs resumed its coverage of the stock with a Sell rating and an $8.50 per share price target. Goldman Sachs analyst Gabriela Borges notes that Microsoft Corporation (MSFT Microsoft Corp MSFT 73.05 +0.90% ​), VMware, Inc. (VMW VMware Inc VMW 93.42 0.00% ), Citrix Systems, Inc. (CTXS Citrix Systems Inc CTXS 77.35 -1.43% ​) and other competitors are starting to bundle enterprise mobility management solutions, which could increase competitive pressure over the coming quarters. Other analysts are more confident in BlackBerry stock despite its first quarter revenue miss in late June. For example, TD analysts reiterated their Buy rating and increased their price target to $11.50 per share, saying that the software focus overlooks strong traction in other areas.
					.back-title.to-news
						a(href='javascript:void(0)', onclick='$.fn.fullpage.moveTo(\'news\', 0);') Back
	.section
		.text-center.pt-120
			h1.h1 ICO Placement Service
			.subintro Pre-sale improves ICO success rate by 50%
			.intro Secure investment by reaching out to hundreds of investors in a pre-sale arrangement
			.join.text-center.text-uppercase.mt-30
				a(href='javascript:void(0)') Get In Touch
	.section
		.content-wrapper
			.team-info
				.tab-panels.clearfix
					ul.list-unstyled
						li.active
							a(href='javascript:void(0)', data-type='team-member1')
								.name John Anderson
								.position Financial Analytic
						li
							a(href='javascript:void(0)', data-type='team-member2')
								.name Antony Woods
								.position Expert SEO Manager
						li
							a(href='javascript:void(0)', data-type='team-member3')
								.name Thomas Morgan
								.position Project Manager
						li
							a(href='javascript:void(0)', data-type='team-member4')
								.name Hamish Labatt
								.position Expert Web Designer
						li
							a(href='javascript:void(0)', data-type='team-member5')
								.name Alan Jensen
								.position Business Consultant
						li
							a(href='javascript:void(0)', data-type='team-member6')
								.name Jacqueline Holmes
								.position Senior Developer
					.tabs.pb-50
						.tab.active.team-member#team-member1
							.photo.clearfix
								.image
									img(src='../images/team-member.png', alt='team member photo')
								.socials
									a(href='javascript:void(0)')
										i.fa.fa-slack(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-github-alt(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-facebook(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-twitter(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-paper-plane(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-btc(aria-hidden='true')
							.info
								.name John Anderson
								.position Financial Analytic
								.text Parish so enable innate in formed missed. Hand two was eat busy fail. Stand smart grave would in so. Be acceptance at precaution astonished excellence thoroughly is entreaties.
								.awards
									ul
										li.experience Experience
										li ICO Awwards 2017
										li Winner 2016 in category "ICO Analytic 2016"
										li Winner 2017 in category "ICO Analytic 2017"
								.join.text-center.text-uppercase
									a(href='javascript:void(0)') Contact
						.tab.team-member#team-member2
							.photo.clearfix
								.image
									img(src='../images/team-member.png', alt='team member photo')
								.socials
									a(href='javascript:void(0)')
										i.fa.fa-slack(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-github-alt(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-facebook(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-twitter(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-paper-plane(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-btc(aria-hidden='true')
							.info
								.name Antony Woods
								.position Expert SEO Manager
								.text Parish so enable innate in formed missed. Hand two was eat busy fail. Stand smart grave would in so. Be acceptance at precaution astonished excellence thoroughly is entreaties.
								.awards
									ul
										li.experience Experience
										li Winner 2016 in category "ICO Analytic 2016"
										li ICO Awwards 2017
										li Winner 2017 in category "ICO Analytic 2017"
								.join.text-center.text-uppercase
									a(href='javascript:void(0)') Contact
						.tab.team-member#team-member3
							.photo.clearfix
								.image
									img(src='../images/team-member.png', alt='team member photo')
								.socials
									a(href='javascript:void(0)')
										i.fa.fa-slack(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-github-alt(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-facebook(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-twitter(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-paper-plane(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-btc(aria-hidden='true')
							.info
								.name Thomas Morgan
								.position Project Manager
								.text Parish so enable innate in formed missed. Hand two was eat busy fail. Stand smart grave would in so. Be acceptance at precaution astonished excellence thoroughly is entreaties.
								.awards
									ul
										li.experience Experience
										li Winner 2017 in category "ICO Analytic 2017"
										li Winner 2016 in category "ICO Analytic 2016"
								.join.text-center.text-uppercase
									a(href='javascript:void(0)') Contact
						.tab.team-member#team-member4
							.photo.clearfix
								.image
									img(src='../images/team-member.png', alt='team member photo')
								.socials
									a(href='javascript:void(0)')
										i.fa.fa-slack(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-github-alt(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-facebook(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-twitter(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-paper-plane(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-btc(aria-hidden='true')
							.info
								.name Hamish Labatt
								.position Expert Web Designer
								.text Parish so enable innate in formed missed. Hand two was eat busy fail. Stand smart grave would in so. Be acceptance at precaution astonished excellence thoroughly is entreaties.
								.awards
									ul
										li.experience Experience
										li Winner 2017 in category "ICO Analytic 2017"
										li ICO Awwards 2017
										li Winner 2016 in category "ICO Analytic 2016"
								.join.text-center.text-uppercase
									a(href='javascript:void(0)') Contact
						.tab.team-member#team-member5
							.photo.clearfix
								.image
									img(src='../images/team-member.png', alt='team member photo')
								.socials
									a(href='javascript:void(0)')
										i.fa.fa-slack(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-github-alt(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-facebook(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-twitter(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-paper-plane(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-btc(aria-hidden='true')
							.info
								.name Alan Jensen
								.position Business Consultant
								.text Parish so enable innate in formed missed. Hand two was eat busy fail. Stand smart grave would in so. Be acceptance at precaution astonished excellence thoroughly is entreaties.
								.awards
									ul
										li.experience Experience
										li Winner 2017 in category "ICO Analytic 2017"
										li Winner 2016 in category "ICO Analytic 2016"
										li ICO Awwards 2017
								.join.text-center.text-uppercase
									a(href='javascript:void(0)') Contact
						.tab.team-member#team-member6
							.photo.clearfix
								.image
									img(src='../images/team-member.png', alt='team member photo')
								.socials
									a(href='javascript:void(0)')
										i.fa.fa-slack(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-github-alt(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-facebook(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-twitter(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-paper-plane(aria-hidden='true')
									a(href='javascript:void(0)')
										i.fa.fa-btc(aria-hidden='true')
							.info
								.name Jacqueline Holmes
								.position Senior Developer
								.text Parish so enable innate in formed missed. Hand two was eat busy fail. Stand smart grave would in so. Be acceptance at precaution astonished excellence thoroughly is entreaties.
								.awards
									ul
										li.experience Experience
										li ICO Awwards 2017
										li Winner 2013 in category "ICO Analytic 2013"
										li Winner 2014 in category "ICO Analytic 2014"
										li Winner 2015 in category "ICO Analytic 2015"
										li Winner 2017 in category "ICO Analytic 2017"
								.join.text-center.text-uppercase
									a(href='javascript:void(0)') Contact
	.section
		.content-wrapper.w-50
			.question-block
				h3 How It Works?
				.toggle-content
					p The value of startups in the accelerator is enhanced by the development of technological and business competencies within the US entrepreneurial ecosystem. Starta Accelerator engages the best American professionals, who become a fully-functional part of the startup team for the duration of the programme. The programme is held in New York and lasts for 3.5 months.
				a.toggler-button(href='javascript:void(0)') See Details
			.question-block
				h3 Is this crowdfunding in the venture market?
				.toggle-content
					p The value of startups in the accelerator is enhanced by the development of technological and business competencies within the US entrepreneurial ecosystem. Starta Accelerator engages the best American professionals, who become a fully-functional part of the startup team for the duration of the programme. The programme is held in New York and lasts for 3.5 months.
				a.toggler-button(href='javascript:void(0)') See Details
			.question-block
				h3 Why do startups need an acceleration program?
				.toggle-content
					p The value of startups in the accelerator is enhanced by the development of technological and business competencies within the US entrepreneurial ecosystem. Starta Accelerator engages the best American professionals, who become a fully-functional part of the startup team for the duration of the programme. The programme is held in New York and lasts for 3.5 months.
				a.toggler-button(href='javascript:void(0)') See Details
			.question-block
				h3 How do investors evaluate them?
				.toggle-content
					p The value of startups in the accelerator is enhanced by the development of technological and business competencies within the US entrepreneurial ecosystem. Starta Accelerator engages the best American professionals, who become a fully-functional part of the startup team for the duration of the programme. The programme is held in New York and lasts for 3.5 months.
				a.toggler-button(href='javascript:void(0)') See Details
			.question-block
				h3 Are there any blockchain startups among them?
				.toggle-content
					p The value of startups in the accelerator is enhanced by the development of technological and business competencies within the US entrepreneurial ecosystem. Starta Accelerator engages the best American professionals, who become a fully-functional part of the startup team for the duration of the programme. The programme is held in New York and lasts for 3.5 months.
				a.toggler-button(href='javascript:void(0)') See Details
			.question-block
				h3 Will ICO participants receive such returns?
				.toggle-content
					p The value of startups in the accelerator is enhanced by the development of technological and business competencies within the US entrepreneurial ecosystem. Starta Accelerator engages the best American professionals, who become a fully-functional part of the startup team for the duration of the programme. The programme is held in New York and lasts for 3.5 months.
				a.toggler-button(href='javascript:void(0)') See Details
	.section
		.content-wrapper
			.contact-us.clearfix
				.logotype
					img(src='../images/logotype-small.svg', alt='logotype')
					.place
						span USA, New York
				form.contact-form(data-toggle='validator', role='form')
					.form-group.has-feedback
						input#inputName.form-control(name='Name', type='text', required, data-error='This field is required')
						label.control-label(for='inputName') Name
						.help-block.with-errors
					.form-group.has-feedback
						input#inputPhone.form-control(name='Phone', type='phone', required, data-error='This field is required')
						label.control-label(for='inputPhone') Phone
						.help-block.with-errors
					.form-group.has-feedback
						input#inputEmail.form-control(name='Email', type='email', required, data-error='Email address is incorrect')
						label.control-label(for='inputEmail') Email
						.help-block.with-errors
					.form-group.has-feedback
						textarea#inputMessage.form-control(name='Message', required, data-error='This field is required')
						label.control-label(for='inputName') Message
						.help-block.with-errors
					button(type='submit') Send
				.amazing-project
					h2 Let's Create Amazing Project...
					.text iClub 2017