doctype html
//- Global variables
- var page
block vars
//- Template
html(lang="en")
	head
		include ../partials/_head
	body(data-page=page.name)
		.main-wrapper
			.submain-wrapper(data-page=page.name)
				block header
				block sidebar
				.section-wrapper
					block main
		block footer