.section
	.content-wrapper
		.blog-post.mt-180
			.post-sidebar
				.date
					.date-wrapper
						span Feb
						|
						|
						span 12
				.socials
					ul
						li
							a(href='javascript:void(0)')
								i.fa.fa-facebook(aria-hidden='true')
						li
							a(href='javascript:void(0)')
								i.fa.fa-google(aria-hidden='true')
						li
							a(href='javascript:void(0)')
								i.fa.fa-twitter(aria-hidden='true')
			.post
				.image
					img(src='./images/blog/blog-post-image1.png')
				ul.breadcrumb
					li.breadcrumb-item
						a(href='javascript:void(0)') News
					li.breadcrumb-item
						a(href='javascript:void(0)') ICO Marketing
					li.breadcrumb-item
						a(href='javascript:void(0)') BlackBerry Stock Hits Key Support After Sell Rating
				.title
					h2 BlackBerry Stock Hits Key Support After Sell Rating
				.category
					span Ico Marketing
				.text
					p BlackBerry Ltd BBRY 9.15 +0.60% Microsoft Corp MSFT 73.05 +0.90% VMware Inc VMW 93.42 0.00% Citrix Systems Inc CTXS 77.35 -1.43% Qualcomm Inc QCOM 53.31 +1.17% Shares of BlackBerry Limited (BBRY BlackBerry Ltd BBRY 9.15 +0.60% ​) fell 3.6% on Monday after Goldman Sachs resumed its coverage of the stock with a Sell rating and an $8.50 per share price target. Goldman Sachs analyst Gabriela Borges notes that Microsoft Corporation (MSFT Microsoft Corp MSFT 73.05 +0.90% ​), VMware, Inc. (VMW VMware Inc VMW 93.42 0.00% ), Citrix Systems, Inc. (CTXS Citrix Systems Inc CTXS 77.35 -1.43% ​) and other competitors are starting to bundle enterprise mobility management solutions, which could increase competitive pressure over the coming quarters. Other analysts are more confident in BlackBerry stock despite its first quarter revenue miss in late June. For example, TD analysts reiterated their Buy rating and increased their price target to $11.50 per share, saying that the software focus overlooks strong traction in other areas.
			.back-title.to-news
				a(href='news.html', data-type='page-transition') Back