.section
	.content-wrapper
		.team-info
			.tab-panels.clearfix
				ul.list-unstyled
					li.active
						a(href='javascript:void(0)', data-type='team-member1')
							.name John Anderson
							.position Financial Analytic
					li
						a(href='javascript:void(0)', data-type='team-member2')
							.name Antony Woods
							.position Expert SEO Manager
					li
						a(href='javascript:void(0)', data-type='team-member3')
							.name Thomas Morgan
							.position Project Manager
					li
						a(href='javascript:void(0)', data-type='team-member4')
							.name Hamish Labatt
							.position Expert Web Designer
					li
						a(href='javascript:void(0)', data-type='team-member5')
							.name Alan Jensen
							.position Business Consultant
					li
						a(href='javascript:void(0)', data-type='team-member6')
							.name Jacqueline Holmes
							.position Senior Developer
				.tabs.pb-50
					.tab.active.team-member#team-member1
						.photo.clearfix
							.image
								img(src='./images/team-member.png', alt='team member photo')
							.socials
								a(href='javascript:void(0)')
									i.fa.fa-slack(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-github-alt(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-facebook(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-twitter(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-paper-plane(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-btc(aria-hidden='true')
						.info
							.name John Anderson
							.position Financial Analytic
							.text Parish so enable innate in formed missed. Hand two was eat busy fail. Stand smart grave would in so. Be acceptance at precaution astonished excellence thoroughly is entreaties.
							.awards
								ul
									li.experience Experience
									li ICO Awwards 2017
									li Winner 2016 in category "ICO Analytic 2016"
									li Winner 2017 in category "ICO Analytic 2017"
							.join.text-center.text-uppercase
								a(href='javascript:void(0)') Contact
					.tab.team-member#team-member2
						.photo.clearfix
							.image
								img(src='./images/team-member.png', alt='team member photo')
							.socials
								a(href='javascript:void(0)')
									i.fa.fa-slack(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-github-alt(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-facebook(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-twitter(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-paper-plane(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-btc(aria-hidden='true')
						.info
							.name Antony Woods
							.position Expert SEO Manager
							.text Parish so enable innate in formed missed. Hand two was eat busy fail. Stand smart grave would in so. Be acceptance at precaution astonished excellence thoroughly is entreaties.
							.awards
								ul
									li.experience Experience
									li Winner 2016 in category "ICO Analytic 2016"
									li ICO Awwards 2017
									li Winner 2017 in category "ICO Analytic 2017"
							.join.text-center.text-uppercase
								a(href='javascript:void(0)') Contact
					.tab.team-member#team-member3
						.photo.clearfix
							.image
								img(src='./images/team-member.png', alt='team member photo')
							.socials
								a(href='javascript:void(0)')
									i.fa.fa-slack(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-github-alt(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-facebook(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-twitter(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-paper-plane(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-btc(aria-hidden='true')
						.info
							.name Thomas Morgan
							.position Project Manager
							.text Parish so enable innate in formed missed. Hand two was eat busy fail. Stand smart grave would in so. Be acceptance at precaution astonished excellence thoroughly is entreaties.
							.awards
								ul
									li.experience Experience
									li Winner 2017 in category "ICO Analytic 2017"
									li Winner 2016 in category "ICO Analytic 2016"
							.join.text-center.text-uppercase
								a(href='javascript:void(0)') Contact
					.tab.team-member#team-member4
						.photo.clearfix
							.image
								img(src='./images/team-member.png', alt='team member photo')
							.socials
								a(href='javascript:void(0)')
									i.fa.fa-slack(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-github-alt(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-facebook(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-twitter(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-paper-plane(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-btc(aria-hidden='true')
						.info
							.name Hamish Labatt
							.position Expert Web Designer
							.text Parish so enable innate in formed missed. Hand two was eat busy fail. Stand smart grave would in so. Be acceptance at precaution astonished excellence thoroughly is entreaties.
							.awards
								ul
									li.experience Experience
									li Winner 2017 in category "ICO Analytic 2017"
									li ICO Awwards 2017
									li Winner 2016 in category "ICO Analytic 2016"
							.join.text-center.text-uppercase
								a(href='javascript:void(0)') Contact
					.tab.team-member#team-member5
						.photo.clearfix
							.image
								img(src='./images/team-member.png', alt='team member photo')
							.socials
								a(href='javascript:void(0)')
									i.fa.fa-slack(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-github-alt(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-facebook(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-twitter(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-paper-plane(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-btc(aria-hidden='true')
						.info
							.name Alan Jensen
							.position Business Consultant
							.text Parish so enable innate in formed missed. Hand two was eat busy fail. Stand smart grave would in so. Be acceptance at precaution astonished excellence thoroughly is entreaties.
							.awards
								ul
									li.experience Experience
									li Winner 2017 in category "ICO Analytic 2017"
									li Winner 2016 in category "ICO Analytic 2016"
									li ICO Awwards 2017
							.join.text-center.text-uppercase
								a(href='javascript:void(0)') Contact
					.tab.team-member#team-member6
						.photo.clearfix
							.image
								img(src='./images/team-member.png', alt='team member photo')
							.socials
								a(href='javascript:void(0)')
									i.fa.fa-slack(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-github-alt(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-facebook(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-twitter(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-paper-plane(aria-hidden='true')
								a(href='javascript:void(0)')
									i.fa.fa-btc(aria-hidden='true')
						.info
							.name Jacqueline Holmes
							.position Senior Developer
							.text Parish so enable innate in formed missed. Hand two was eat busy fail. Stand smart grave would in so. Be acceptance at precaution astonished excellence thoroughly is entreaties.
							.awards
								ul
									li.experience Experience
									li ICO Awwards 2017
									li Winner 2013 in category "ICO Analytic 2013"
									li Winner 2014 in category "ICO Analytic 2014"
									li Winner 2015 in category "ICO Analytic 2015"
									li Winner 2017 in category "ICO Analytic 2017"
							.join.text-center.text-uppercase
								a(href='javascript:void(0)') Contact